# .github/workflows/ci.yml
name: CI
on:
  push: 
    branches:
      - master 
jobs:
  deploy: # Nom du premier job
   runs-on: ubuntu-latest
   steps: 
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc" 
      - name: Install dependencies 
        run: npm ci
      - name: Build project
        run: npm run build
      - name: Deploy project
        run: npm run deploy
  test:
    needs: deploy
    runs-on: ubuntu-latest
    name: test unitaire
    if: npm test
  lint:
    needs : deploy
    runs-on: ubuntu-latest
    name: lint code
    if: npm run lint 
