# .github/workflows/ci.yml
name: CI
on:
  push: 
    branches:
      - master 
    paths:
      -.github/workflows/ci.yml
jobs:
  deploy:
   runs-on: ubuntu-latest
   steps: 
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc" 
      - name: Install dependencies 
        run: npm ci
      - name: Build project
        run: npm run build
      - name: Deploy project
        run: npm run deploy
  test:
    runs-on: ubuntu-latest
    needs: deploy
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc" 
      - name: test unitaire
        run: npm test
  lint:
    runs-on: ubuntu-latest
    needs: deploy
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc" 
      - name: lint
        run: npm run lit
